/*NAVIGATION
*/

/*----------------------------------
   Breadcrumbs
 ----------------------------------*/   
.breadcrumb {
  @include adjust-font-size-to(14px);
  margin:1em 0 0.5em;
  @include paddedContent;
  @include auto;
  @include clearfix;

  li {
    padding-right: 0.4em;
    display: inline;

    &:after {
      content: "\00BB";
      padding-left: 0.4em;
      vertical-align: baseline;
    }
    &:last-child:after {
      content: "";
    }
  }
}



/*----------------------------------
   Edit Tabs
 ----------------------------------*/   
.tabs {
  margin: 1em 0;
  border-bottom:1px solid #ddd;

  ul {
    padding-left:0;
    margin:0;
  }
    li {
      margin:0 2px 0 0;
      background:#fff;
      display: inline-block;
    }

    a {
      display: block;
      padding: 0.2em 1em;
      &.is-active {
        background-color: #ccc;
      }
      &:focus,&:hover {
        background-color: #f5f5f5;
      }
    }
}


/*----------------------------------
   SIDEBAR MENU
 ----------------------------------*/ 
.block-region-sidebar .block--system-menu  {
    //main menu
    & > ul{
      //hide child menus by default
      ul{
        display: none;
      }
      //show expanded trail
      li.expanded > ul{
        display: block;
      }

      //menu tiers
      & > li{
        padding: 4px 0;
      }
      ul{
        padding: 8px 12px;
      }

      //even out non parents
      li:not(.parent){
        padding-left: 18px;
      }

      //expanders
      .expander{
        color: $link;
        display: inline-block;
        width: 14px;
        height: 20px;
        cursor: pointer;
        &:before{          
          content: "+";
        }
      }
      .parent.expanded > .expander:before{
        content: "–";
      }
      

      //links
      & > li > a{
        @include font-size(20px);
      }
      .active-trail{
        & > a, & > .expander{
          color: $black;
        }
      }

    }//end menu ul

    
}//end block system menu (page menu)