/*  LAYOUT MIXINS
-------------------- */

@mixin constrained {
  margin-left:auto;
  margin-right: auto;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;
}   

@mixin constrained-no-pad {
  margin-left:auto;
  margin-right: auto;
  max-width: $max-width;
} 

@mixin content-constrained {
  margin-left:auto;
  margin-right: auto;
  max-width: $max-width-text;
}

@mixin page-width {
  width: 100%;
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

$contentW: $max-width;
$textW: $max-width-text;

//adjust content width if the item should not have padding
@mixin paddedContent{
  @include calc(max-width, "#{$contentW} + 40px");
  padding-left: 20px;
  padding-right: 20px;
}

//adjust text width if the item should be padded
@mixin paddedText{
  @include calc(max-width, "#{$textW} + 40px");
  padding-left: 20px;
  padding-right: 20px;
}

@mixin nodeHeader{
  @include paddedContent;
  margin-top: 2em;
}


@mixin edge-to-edge {
    margin-left:-20px;
    margin-right:-20px;/*make divs look full width*/
}
@mixin edged {
  margin-left: 0;
  margin-right: 0;
}

@mixin auto{
  margin-left: auto;
  margin-right: auto;
}


@mixin inline-setup{
  font-size: initial;
  @include inline-block-top;
  width: 100%;
}

@mixin inline-setup-center{
  font-size: initial;
  @include inline-block;
  width: 100%;
}

@mixin inline-block{
	display: inline-block;
	vertical-align: middle;
}

@mixin inline-block-top{
	display: inline-block;
	vertical-align: top;
}

@mixin inline-block-bottom{
	display: inline-block;
	vertical-align: bottom;
}

@mixin floatleft {
    float: left;
    margin:0 1em 1em 0;
}

@mixin floatright {
    float: right;
    margin:0 0 1em 1em;
}

   

//Calc arguments
@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});  
  #{$property}: calc(#{$expression}); 
}
@mixin calcForce($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}) !important;
  #{$property}: -moz-calc(#{$expression}) !important;  
  #{$property}: calc(#{$expression}) !important; 
}



/*TYPE MIXINS
-------------------- */
/*
 * Non-standard font-sizing
 */

@mixin giga { @include adjust-font-size-to(200%); }
@mixin megah { @include adjust-font-size-to(150%); } //tbmegamenu uses "mega" class :(
@mixin kilo { @include adjust-font-size-to(120%); }
@mixin milli { @include adjust-font-size-to(90%);}



// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size / $base-font-size)*1rem;
}

@mixin fonticon ($content) {
  font-family: "oc";
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $content;
  color:$oc-darkgrey;
}

@mixin no-list-style {
  margin: 1em 0;
  padding:0;
  list-style: none;

  li {
    display: inline;
    padding:0 5px;
  }
}


//FONT-AWESOME SETUP
@mixin inline-fa{
  &.fa:before{
    margin-right: .25em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
  }
}
 


/*Placeholder selections
--------------------*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* INLINE VIEWS ROWS
------------------------ */
@mixin inline-three{
  @include inline-setup;
  @include breakpoint ($smalltab, true){
    @include calc(width, "50% - 1em");
    &.views-row-odd{
      margin-right: 2em;
    }
  }
  @include breakpoint ($desk, true){
    @include calc(width, "33.3333% - 1em");
    &.views-row-odd{
      margin-right: 0;
    }
    &:not(:nth-of-type(3n+3)){
      margin-right: 1.5em;
    }
  }
}

@mixin inline-four{
  @include inline-setup;
  @include breakpoint ($smalltab, true){
      @include calc(width, "50% - 1em");
      &.views-row-odd{
        margin-right: 2em;
      }
    }
    @include breakpoint ($tab, true){
      @include calc(width, "33% - 1em");
      &.views-row-odd{
        margin-right: 1.5em;
      }
      &.views-row-even{
        margin-right: 1.5em;
      }
      &:nth-of-type(3n+3){
        margin-right: 0;
      }
    }
    @include breakpoint ($desk, true){
      @include calc(width, "25% - 1em");
      &.views-row-odd{
        margin-right: 1em;
      }
      &.views-row-even{
        margin-right: 1em;
      }
      &:nth-of-type(4n+4){
        margin-right: 0;
      }
    }
}


/* ANIMATION MIXINS
------------------- */
//css animation mixin
@mixin transTwoAll{
  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -webkit-transform: translateZ(0);
}


@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}






