/**
 * Default Node Styles
 */


/* GLOBAL
------------------------- */
//UNPUBLISHED
.node.node--unpublished{
	background: $unpublished;
	border-top: 20px solid $unpublished-dark;
}

//BANNER IMAGE BACKGROUNDS
.block-region-top.background{
	h1{
		@include breakpoint ($tab, true){
			margin-top: -20px;
			margin-bottom: 0;
			color: $white;
		}
	}
	.field-banner{
		@include overlay;
	}
}

.block-region-main{
	margin-top: 2em;

	//body
	.block-entity-fieldnodebody{
		max-width: $max-width-text;
		@include auto;
		margin-bottom: 2em;
		p{
			&:first-child{
				@include font-size(22px);
			}
		}
	}
	.block-entity-fieldnodefield-oc-widgets{
		max-width: 1200px;
		@include auto
	}
}//end main



/* BASIC PAGES
------------------- */
.node--type-page{
	//title in top
	.block-region-top{
		h1{
			margin-bottom: .5em;
		}
	}
}//end basic pages