/**
 * DEFAULT VIEWS CLASSES
 */

/* VIEWS EXPOSED FORMS
------------------------ */

.views-exposed-form{
	.form-item{
		max-width: 250px;
		margin-bottom: 1em;
		@include breakpoint ($smalltab, true){
			margin-right: 1em;
		}
		label{
			margin-bottom: .5em;
			font-weight: 700;
		}
	}


	/*----- Text Inputs  ----- */
	input.form-text{
		@include exposedInput-text;
		@include input-placeholder{
			@include opacity(1);
		}
		&:focus{
			@include input-placeholder{
				@include opacity(.2);
			}
		}
	}


	/*----- Select Inputs  ----- */
	.select2-container--default{

		//single filter
		.select2-selection--single{
			@include exposedInput-select2;

			//rendered selection
			.select2-selection__rendered{
				padding: 4px 32px 4px 10px;
				color: $dark-grey;
			}
			.select2-selection__arrow{
				width: 30px;
				background: $link;
				background-image: url(../images/drop-arrow.png) no-repeat center;
      	      	background-size: 10px auto;
				b{
					display: none;
				}
			}

		}//end single

		//multi filter
		.select2-selection--multiple{
			@include exposedInput-select2;
			padding: 3px 32px 3px 0;
			//selection input
			.select2-search--inline{ 
				&:after{
					width: 30px;
					background-color: $link;
					background-image: url(../images/drop-arrow.png) no-repeat center;
      				background-size: 10px auto;
				}
				input.select2-search__field{
					color: $dark-grey;
					@include input-placeholder{
						@include opacity(1);
					}
				}
			}

			//selected item
			.select2-selection__choice{
				border-radius: 0;
				background-color: $off-white;
			}

		}//end multi


		//active select2
		&.select2-container--open,&.select2-container--focus{

			//single
			.select2-selection--single{
				.select2-selection__rendered{
					//@include opacity(.2);
				}
				.select2-selection__arrow{
					background-color: $hover-link;
					background-image: url(../images/drop-arrow-active.png);
				}
			}

			//multiple
			.select2-selection--multiple{
				border: 1px solid $light-grey;
				
				.select2-search--inline{ 
					&:after{
						background-color: $hover-link;
						background-image: url(../images/drop-arrow-active.png);
					}
					input.select2-search__field{
						@include input-placeholder{
							@include opacity(.2);
						}
					}
				}
			}

		}//end active

	}//end .select2-container--default (select inputs)


	//submits
	.form-actions{
		input{
			@include submitButton;
			&.form-submit{
				background: $link;
				color: $white;
				&:hover{
					background: $hover-link;
				}
			}
		}
	}
	

}//end views exposed form


/*----- Select Dropdowns  ----- */
.select2-container{
	.select2-dropdown{
		border: 1px solid $light-grey;
		border-radius: 0;
		border-top: 0;
	}
}
.select2-container--default .select2-results__option[aria-selected="true"]{
  	background-color: $off-white;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  	background-color: $link !important; 
}
