/**
 * Default WIDGETS Styles
 */


/*  FLEXSLIDER GLOBAL SETTINGS
-------------------------------- */
.flexslider{
  	position: relative;
  	margin: 0 !important;
  	border: 0;

  	/*override default, make direction visible always*/
  	.flex-direction-nav{
      min-width: 40px;
      z-index: 10;
      a{
        height: 100%;
        top: 0;
        display: block;
        @include opacity(1);
        margin: 0;
        &:before{
          @include opacity(1);
          display: inline-block;
          text-align: center;
          font-weight: normal;
          line-height: 1;
          position: absolute;
          top: 50%;
          @include translateY(-50%);
        }
      }
      .flex-prev {
        text-indent: -9000px;
        &:before {
          content: "‹";
          text-indent: 0;
          left: 0;
        }
      }
      .flex-next {
        text-indent: 9000px;
        &:before {
          content: "›";
          text-indent: 0;
          right: 0;
        }
      }

    }//end flex direciton nav
}


/* SWIPEBOX GLOBAL SETTINGS
----------------------------- */
#swipebox-overlay{

	#swipebox-slider{
		z-index: 20;
	}
	#swipebox-bottom-bar{
		z-index: 30;
	}
}




/* LAYOUT
------------------ */
.field--name-field-oc-widgets{
	display: flex;
	flex-flow: row wrap;
	@include edge-to-edge;
	
	.flex-wrap{
		// need mins so that js can calculate heights and widths
		min-height: 0;
		min-width: 0;
		&:not(.fill){
			flex: 0 0 100%;
		}
		&.fill{
			flex: 1 1;
		}

	}//end flex wrap

	//ie fallbacks
	.is-ie &{
		display: block;
		font-size: 0;
		.flex-wrap{
			@include inline-setup;
		}
	}

}//end widgets field

.paragraph{
	.image{
		position: relative;
		background-position: center !important;
		background-size: cover !important;
		& *{
			position: relative;
			z-index: 2;
		}
	}
}



/*  ACCORDIONS
------------------------*/
.paragraph--type--accordion-group{
	.pane-title{
		text-align: center;
	}
	.flex-wrap.backless{
		padding: 0;
	}
	.accordion-header{
		position: relative;
		padding: 10px 10px 10px 30px;
		display: block;
		margin-top: -1px;
		&:after{
			position: absolute;
			right: 30px;
			top: 10px;
			z-index: 2;
		}
		&:hover{
			background: $mid-grey;
			color: $white;
		}

	}

	//accordion content
	.field-oc-long-text{
		position: relative;
		top: 0;
		height: 0;
		overflow: hidden;
	}

	//active accordion
	.accord-active{
		.accordion-header{
			border-bottom: 0;
		}
		.field-oc-long-text{
			height: 100%;
		}
	}//end active

	//no-js fallback
	.no-js &{
		&:hover{
			.field-oc-long-text{
				height: 100%;
			}
		}
	}

}//end accordions



/* BUTTONS
--------------------*/
.paragraph--type--buttons{
	text-align: center;
	li{
		@include inline-block-top;
		width: 100%;
		a{
			@include inline-block;
			width: 80%;
		}
	}//end li

}//end buttons


/* CALL TO ACTION
--------------------- */
.paragraph--type--call-to-action{
	.pane-title{
		text-align: center;
	}
}//end cta



/* FORM
----------- */
.paragraph--type--form{
	.field-oc-long-text + .field-oc-form{
		margin-top: 1em;
	}
}


/* HORIZONTAL RULE
------------------------*/
.paragraphs--type--horizontal-rule{
	margin: 2em 0;
	height: 1px;
}


/* IMAGE
------------------*/
.paragraph--type--image{
	text-align: center;
	a:hover{
		text-decoration: none;
	}
	figcaption{
		text-align: center;
		cursor: default;
	}
	.field-oc-long-text{
		margin-top: 1em;
		text-align: left;
	}
	img{
		@include breakpoint ($onlysmall, true){
			@include edge-to-edge;
			@include calc(max-width, "100% + 40px");
		}
	}
	//image sizes
	.wrapper{
		display: inline-block;
	}

}//end type--image


/* LIGHT BOX GALLERY
----------------------- */
.paragraph--type--lightbox-gallery{
	text-align: center;
	a.swipebox{
		@include inline-block-top;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.swipe-hidden{
		display: none;
	}
}


/* LINKS & FILES
------------------ */
.paragraph--type--links-files{

}


/*  MAP 
-----------------*/
.paragraph--type--map{
	.pane-title{
		text-align: center;
	}
	.field-oc-long-text{
		margin-top: 1em;
	}
	.field-location{
		@include breakpoint ($onlysmall, true){
			@include edge-to-edge;
			@include calc(max-width, "100% + 40px");
		}
	}
}


/*  SLIDESHOW
-----------------  */
.paragraph--type--slideshow{
	.pane-title{
		text-align: center;
	}
	//slider container
	.views-element-container{
		@include breakpoint ($onlysmall, true){
			@include edge-to-edge;
			@include calc(max-width, "100% + 40px");
		}
	}
}


/*  TEXT WIDGET
------------------- */
.paragraph--type--text{
	
}


/* VIDEO
-----------------*/
.paragraph--type--video{
	.pane-title{
		text-align: center;
	}
	.field-oc-video{
		@include breakpoint ($onlysmall, true){
			@include edge-to-edge;
			@include calc(max-width, "100% + 40px");
		}
	}
	.field-oc-long-text{
		margin-top: 1em;
	}
}
