//base colors
$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;
//base colors
$orange     : #d38013;
$light-orange : #f38e13;
$dark-orange : #965508;
$light-grey : #eee;
$mid-grey   : #6a7076;
$dark-grey  : #222222;
$grey       : #ddd;
$off-white  : #f6f6f6;
$white      : #fff;
$black      : #000;
$highlighter: #f2dc26;
$warning    : #dd241b;

//transparents
$transparent-white  : rgba(255,255,255,0.7);
$trans-white-lt     : rgba(255,255,255,0.4);
$transparent-black  : rgba(35,35,35,0.35);
$image-overlay      : rgba(35,35,35,0.45);
$oc-gold-60         : rgba(239,182,27,0.6);
$oc-gold-10         : rgba(239,182,27,0.1);

//OC Colors
$oc-body     : #4d4e4e;
$oc-gold     : #efb61b;
$oc-camel    : #e7d4a6;
$oc-slate    : #505761;
$oc-blue     : #35729B;
$oc-navy     : #2958A2;
$oc-beige    : #ebe7dc;
$oc-brown    : #481C0F;
$oc-black    : #181919;
$oc-red      : #960430;
$oc-stone    : #f5f5eb;
$oc-white    : #ffffff;
$oc-greygreen : #d3d3bb;
$oc-grey     : #a8a8aa;
$oc-darkgrey : #30353b;
$oc-coolgrey : #d3cfcc;
$oc-warmgrey : #6f625a;

//Link COLORS
$link        : $orange;
$active-link : $dark-orange;
$hover-link  : $dark-orange;

//Randos
$green-good  : #218d00;
$red-bad     : #cd0210;
$unpublished : #fff4fa;
$unpublished-dark : #fdd5dd;

