/**
 * $GRID VARIABLES
 */


//breakpoints
@include breakpoint-set('to ems', true);

//breakpoints
$mobile: 320px;
$smalltab: 500px;
$tab: 760px;
$desk: 900px;

//max-width values
$content-stop: 1500px;
$max-width: 1200px;
$max-width-text: 800px;

//range values
$onlytab: 760px 899px;
$onlysmall: max-width 759px; 

//mobile menu specific
$mobilemenu:max-width 979px;
$deskmenu:min-width 980px;



// Singularity 1.2 Syntax
@include add-grid(4);
@include add-grid(12 at $tab);
@include add-grid(16 at $desk);

@include add-gutter(1/3);
@include add-gutter(.5 at $desk);