/**
 * $TABLES
 */

 
table {
  width:100%;
  empty-cells:show;
  margin-bottom:20px;
  margin-top:10px;

  th {
    font-weight: normal;
    @include font-size(18px);
    padding:8px 16px;
  }

  thead {
    display: none;
    @include breakpoint($tab,true) {
      display: table-header-group;
    }
  }
  
  td {
    padding:8px 16px;
    @include font-size(16px);
    display: block;
    @include breakpoint($tab,true) {
      display: table-cell;
    }

  }

}

//responsive tables
.stacktable{
  &.large-only{
    display: table;
  }
  &.small-only{
    display: none;
  }
}

@include breakpoint ($onlysmall){
  .stacktable{
    &.large-only{
      display: none;
    }
    &.small-only{
      display: table;
      td {
          display: inline-block;
        }
      }
    }
}

