/**
 * Custom List Styles
 */


.pager-item a,
.pager-current,
.pager-ellipsis {
  border-color: $link;
  color: $mid-grey;
}
.pager-item a:hover {
  background-color: $link;
  border-color: $link;
  color:$white;
}
.pager-current {
  color: $white;
  background-color: $link;
  border-color: $link;

}