/**
 * Custom Tables Styles
 */


/* TABLES
------------- */
.field > table{
    //stack table header on mobile
	.st-key{
	    font-size: 16px;
	    width: 52%;
	    max-width: 200px;
	}
	//stack table td on mobile
	.st-val{
	    min-width: 48%;
	    font-size: 17px;
	    @include breakpoint (400px, true){
	      @include calc(max-width, "100% - 200px");
	  }
	}

	thead th{
		background: $grey;
	}

	tbody tr{
	  	//set table row colors
	  	&:nth-of-type(odd){
	    	 background: $light-grey;
	    }
	    &:nth-of-type(even){
	    	background: $white;
	    }
	    th{
	    	background: $grey;
	    }
	    //give a bit extra room in the row on mobile
	    @include breakpoint ($onlysmall, true){
	      td{
	        padding: .5em 20px;
	      }
	      &:first-of-type{
	        td{
	          padding: 1.5em 20px 0;
	        }
	      }
	      &:last-of-type{
	        td{
	          padding: 0 20px 1.5em;
	        }
	      }
	      //style headers
	      & > td.st-key{
	        text-transform: uppercase;
	        font-weight: bold;
	      }
	    }
	}//end tr
      
}//end table

