/**
 * Custom Typography Stules
 */
html {
  font-family: $sans;
  font-size: $base-font-size;
  color: $black;
}

body {
  line-height: 1.4;
}

/**
 * $HEADINGS
 */
h1, .alpha {
  @include adjust-font-size-to(32px);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.15em;
  font-weight: 700;
  @include breakpoint ($tab, true){
    @include adjust-font-size-to(60px);
  }
}
h2, .beta {
  @include adjust-font-size-to(32px);
  margin: 0 0 .5em;
  line-height: 1.15em;
  font-weight: 700;
}
h3, .gamma {
  @include adjust-font-size-to(23px);
  margin: 0 0 .5em;
  font-weight: 700;
}
h4, .delta {
  @include adjust-font-size-to(22px);
  margin: 0 0 .5em;
  line-height: 1.15em;
  font-weight: 700;
  font-weight: 700;
}
h5 {
  @include adjust-font-size-to(20px);
  margin: 0 0 .5em;
  line-height: 1.15em;
  font-weight: 700;
}
h6 {
  @include adjust-font-size-to(18px);
  margin: 0 0 .5em;
  line-height: 1.15em;
  font-weight: 700;
}


/* block, widget, views headers  */
h2.block-title,.block > h2,h2.widget-title{
  @include font-size(20px);
  display: block;
  text-align: center;
  text-transform: uppercase;
}//end block title, widget title


figcaption{
  text-align: center;
  color: $grey;
  @include font-size(15px);
  font-style: italic;
}
